TIMEOUT=28800
DATA_FILE=topics.json
TOKEN=slack-token
JENKINS=http://jenkins_url
JENKINS_TOKEN=jenkins-token
JENKINS_RUBY_JOB=RubyDeploy_NO_Datagen
JENKINS_JAVA_JOB=JavaDeploy_NO_Datagen
JENKINS_FULL_JOB=FullDeploy_NO_Datagen
JENKINS_RUBY_JOB_LINK=http://jenkins_url
JENKINS_JAVA_JOB_LINK=http://jenkins_url
JENKINS_FULL_JOB_LINK=http://jenkins_url
BUILDPARAMS_FILE=buildparams.txt
