TIMEOUT=28800
DATA_FILE=topics.json
TOKEN=slack-token
JENKINS=http://jenkins_url
JENKINS_TOKEN=jenkins-token
JENKINS_RUBY_JOB=Deploy_NO_Datagen/RubyDeploy_NO_Datagen
JENKINS_JAVA_JOB=Deploy_NO_Datagen/JavaDeploy_NO_Datagen
JENKINS_FULL_JOB=Deploy_NO_Datagen/FullDeploy_NO_Datagen
JENKINS_DEPLOY_WHAT_U_WANT=Deploy_NO_Datagen/Deploy_what_you_want
JENKINS_RUN_DATAGEN_JOB=Deploy-Datagen/Run_ONLY_Datagen
JENKINS_RUN_BVT_JOB=QA Stacks/Build-Verification-Tests
JENKINS_RUN_PROD_SMOKE=QA Stacks/Prod-Smoke-Tests
JENKINS_RUBY_JOB_LINK=http://jenkins_url
JENKINS_JAVA_JOB_LINK=http://jenkins_url
JENKINS_FULL_JOB_LINK=http://jenkins_url
JENKINS_DEPLOY_WHAT_U_WANT=http://jenkins_url
JENKINS_DEPLOY_WHAT_U_WANT_LINK=http://jenkins_url
JENKINS_RUN_DATAGEN_LINK=http://jenkins_url
JENKINS_RUN_BVT_LINK=http://jenkins_url
JENKINS_RUN_PROD_SMOKE_LINK=http://jenkins_url
BUILDPARAMS_FILE=buildparams.txt

# Set LOG_DEBUG to true to turn on debug logs
LOG_DEBUG=false